<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="classes" thread-count="5">
    <test name="TestNG Parallel">
        <classes>
            <class name="TestNG_Parallel.Chromebrowser"></class>
            <class name="TestNG_Parallel.Chromebrowser"></class>
            <class name="TestNG_Parallel.Chromebrowser"></class>
            <class name="TestNG_Parallel.Chromebrowser"></class>
            <class name="TestNG_Parallel.Chromebrowser"></class>
            <class name="TestNG_Parallel.Chromebrowser"></class>
            <class name="TestNG_Parallel.EdgeBrowser"></class>
            <class name="TestNG_Parallel.FireFox_Browser"></class>
        </classes>
    </test>
</suite>